/* Colors */
/* Button color: #1582f7 */
/* Grey color: #f0f0f0 */

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 * {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "GRAD" 0;
    font-size:1rem;
}

legend {
    font-size:2rem;
}

form {
    background-color:#f0f0f0;
}

.submit-btn {
    background-color:#1582f7;
    border:none;
    border-radius:3px;
    color:white;
}

/* Tablet size */
@media screen and (max-width:40rem) {

}

/* Desktop size */
@media screen and (max-width:50rem) {

}