/* Colours */
/* Button color: #1582f7 */
/* Grey color: #f0f0f0 */
/* Thin border color: #979797 */

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 * {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "GRAD" 0;
    font-size:1rem;
}

/* Base form styles */
fieldset {
    background-color:#f0f0f0;
}

legend {
    font-size:2rem;
    background-color:#ffffff;
    border:#979797 1px solid;
    border-radius:3px;
    padding:0.5rem;
}

.labels {
    display:flex;
    flex-direction:column;
}

.labels > div > input,
.labels > div > textarea {
    border:#979797 1px solid;
    border-radius:3px;
    width:100%;
    height:2rem;
}

.labels > .message > textarea {
    min-height:5rem;
    vertical-align:top;
    resize:vertical;
}

.labels > div {
    margin-top:1rem;
    margin-bottom:1rem;
}

.submit-btn {
    background-color:#1582f7;
    border:none;
    border-radius:3px;
    color:#ffffff;
    height:2rem;
    width:100%;
}

/* Tablet size */
@media screen and (max-width:40rem) {

}

/* Desktop size */
@media screen and (max-width:50rem) {

}